// papogen.css - Elements/List
include icon.pug

mixin list-mixin(data, attr)
    - for (var i = 0; i < data.length; ++i)
        - if (data[i].data.toString().match((/[\u3400-\u9FBF]/)))
            div(class="item cn") #{obj[i].data}
            - if (data[i].icon != undefined)
                - var icon-obj = {
                    data: content.icon
                }
                +icon(icon-obj)
            - if (data[i].detail != undefined && data[i].name != undefined)
                div(class="item-content")
                    div(class="item-hdr") #{data[i].name}
                    div(class="item-detail") #{data[i].detail}
            - if (data[i].icon != undefined && data[i].detail == undefined && data[i].name != undefined)
                div(class="item-content") #{data[i].name}
            - if (data[i].icon == undefined && data[i].detail == undefined && data[i].name != undefined)
                | #{data[i].name}
            - if(data[i].data != undefined)
                div(class="list") 
                    +list(data[i].data)
        - else
            div(class="item") #{data[i].data}
            - if (data[i].icon != undefined)
                - var icon-obj = {
                    data: content.icon
                }
                +icon(icon-obj)
            - if (data[i].detail != undefined && data[i].name != undefined)
                div(class="item-content")
                    div(class="item-hdr") #{data[i].name}
                    div(class="item-detail") #{data[i].detail}
            - if (data[i].icon != undefined && data[i].detail == undefined && data[i].name != undefined)
                div(class="item-content") #{data[i].name}
            - if (data[i].icon == undefined && data[i].detail == undefined && data[i].name != undefined)
                | #{data[i].name}
            - if (data[i].items != undefined)
                div(class="list")
                    +list(data[i].data)

mixin list(obj)
    - var className = "list"
    - if (obj.attr.horizontal != undefined)
        - if (obj.attr.horizontal)
            - className += " list-h"
    - if (obj.attr.size != undefined)
        - if (obj.attr.size == "mini" || obj.attr.size == "tiny" || obj.attr.size == "small" || obj.attr.size == "big" || obj.attr.size == "large" || obj.attr.size == "huge" || obj.attr.size == "massive")
            - className = className + " list-" + obj.attr.size
    - if (obj.attr.celled != undefined)
        - if (obj.attr.celled)
            - className += " list-celled"
    - if (obj.attr.divided != undefined)
        - if (obj.attr.divided)
            - className += " list-divided"
    - if (obj.attr.relaxed != undefined)
        - if (obj.attr.relaxed == "normal")
            - className += " list-relaxed"
        - if (obj.attr.relaxed == "very")
            - className += " list-exrelaxed"
    - if (obj.attr.selection != undefined)
        - if (obj.attr.selection)
            - className += " list-selection"
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " list-inverted"
    - if (obj.attr.ordered != undefined)
        - if (obj.attr.ordered)
            - className += " list-ordered"
    - if (obj.attr.bulleted != undefined)
        - if (obj.attr.bulleted)
            - className += " list-bulleted"

    div(class=className)
        +list-mixin(obj.data, obj.attr)