// mixin
mixin list(obj)
    - for(var i=0;i<obj.length;i++)
        li #{obj[i].name}
        - if(obj[i].items != undefined)
            ul 
                +list(obj[i].items)
// main
doctype html
html
    head
        meta(charset="utf-8")/
        meta(name="viewport" content="width=device-width, initial-scale=1")/
        title #{title}
        link(rel="stylesheet" href="./asset/highlight.min.css")/
        link(rel="stylesheet" href="./asset/paper.min.css")/
        link(rel="stylesheet" href="./asset/monokai.css")/
        link(rel="stylesheet" href="./asset/main.css")/
        - for(var i=6;i<=(namelist.length);i++)
            style .tabs input[id=tab#{i}]:checked~div[id=content#{i}]{display:block}
        script(type="text/javascript",src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML",async)
        script(src="./asset/highlight.min.js")
        script hljs.initHighlightingOnLoad();
    body
        div.container
            div.paper
                div(id="top" class="demo-title")
                    div.row.flex-center
                        div.text-center 
                            h1 #{title}
                div.section
                    div(class="flex-spaces tabs")
                        - for(var index =1; index<=namelist.length;index++)
                            |
                            |
                            - if(index == 1)
                                input(id="tab"+index,type='radio',name='tabs' checked)/
                            - else 
                                input(id="tab"+index,type='radio',name='tabs')/
                            |
                            |
                            label(for="tab"+index) #{namelist[index-1].filename.split('.')[0]}
                            |
                            |
                        |
                        |
                        - for(var index =1; index<=namelist.length;index++)
                            div(class="content",id="content"+index)
                                article.article 
                                    h1(class="article-title") #{namelist[index-1].article}
                                    p(class="article-meta") Latest update in #{moment().format('LLLL')}
                                    - for(var i =0;i< (namelist[index-1].article_content!=undefined?namelist[index-1].article_content.length:0) ;i++)
                                        p(class="text-lead")  #{namelist[index-1].article_content[i].title}
                                        - for(var c =0;c<namelist[index-1].article_content[i].content.length;c++)
                                            - if(namelist[index-1].article_content[i].content[c].type == "text")
                                                - for(var d =0;d<namelist[index-1].article_content[i].content[c].data.length;d++)
                                                    p #{namelist[index-1].article_content[i].content[c].data[d]}
                                            - if(namelist[index-1].article_content[i].content[c].type == "image")
                                                - for(var d =0;d<namelist[index-1].article_content[i].content[c].data.length;d++)
                                                    div(class="row flex-center")
                                                        img(src=namelist[index-1].article_content[i].content[c].data[d].url)/
                                            - if(namelist[index-1].article_content[i].content[c].type == "code")
                                                - for(var d =0;d<namelist[index-1].article_content[i].content[c].data.length;d++)
                                                    pre
                                                        code(class=namelist[index-1].article_content[i].content[c].data[d].lang) #{namelist[index-1].article_content[i].content[c].data[d].raw}
                                            - if(namelist[index-1].article_content[i].content[c].type == "formula")
                                                - for(var d =0;d<namelist[index-1].article_content[i].content[c].data.length;d++)                                            
                                                    p #{namelist[index-1].article_content[i].content[c].data[d]}
                                            - if(namelist[index-1].article_content[i].content[c].type == "list")
                                                +list(namelist[index-1].article_content[i].content[c].data)
                                        br/
                                        br/
                                        hr/
                            |               
                            |
                div(class="row flex-right")
                    p Created by 
                        span(class="badge secondary") @ToolBuddy/@papercss