doctype html
html
    head
        meta(charset="utf-8")/
        meta(name="viewport" content="width=device-width, initial-scale=1")/
        title #{title}
        link(rel="stylesheet" href="./asset/paper.min.css")/
        link(rel="stylesheet" href="./asset/main.css")/
    body
        div.container
            div.paper
                div(id="top" class="demo-title")
                    div.row.flex-center
                        div.text-center 
                            h1 #{title}
                div.section
                    div(class="flex-spaces tabs")
                        - for(var index =1; index<=namelist.length;index++)
                            |
                            |
                            input(id="tab"+index,type='radio',name='tabs',checked)/
                            |
                            |
                            label(for="tab"+index) #{namelist[index-1].filename.split('.')[0]}
                            |
                            |
                        |
                        |
                        - for(var index =1; index<=namelist.length;index++)
                            div(class="content",id="content"+index)
                                article.article 
                                    h1(class="article-title") #{namelist[index-1].article}
                                    p(class="article-meta") Latest update in #{moment().format('LLLL')}
                                    - for(var i =0;i< (namelist[index-1].article_content!=undefined?namelist[index-1].article_content.length:0) ;i++)
                                        p(class="text-lead")  #{namelist[index-1].article_content[i].title}
                                        - for(var c =0;c<namelist[index-1].article_content[i].content.length;c++)
                                            p #{namelist[index-1].article_content[i].content[c]}
                            |
                            |