- var article = namelist[1].article
- var articlie_content = namelist[1].article_content
- var header-obj = {
    data: namelist[1].article,
    attr: {
        size: "h2"
    },
    content: undefined
}
+header(header-obj)

- for (var i = 0; i < (articlie_content != undefined ? articlie_content.length : 0); ++i)
    - header-obj = {
        data: articlie_content[i].title,
        attr: {
            color: "grey",
            divided: true,
            size: "h3"
        },
        articlie_content: {
            icon: "id card"
        }
    }
    +header(header-obj)
    - for (var c = 0; c < articlie_content[i].content.length; ++c)
        - if (articlie_content[i].content[c].type == "text")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - if (article_content[i].content[c].data[d].toString().match(/[\u3400-\u9FBF]/))
                    p(class="cn") #{article_content[i].content[c].data[d]}                                                    
                - else
                    p #{article_content[i].content[c].data[d]}
        - if (article_content[i].content[c].type == "hyper")
            p
                - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                    - if (article_content[i].content[c].data[d].text != undefined)
                        - for (var t = 0; t < article_content[i].content[c].data[d].text.length; ++t)
                            - if (article_content[i].content[c].data[d].text[t].toString().match(/[\u3400-\u9FBF]/))
                                | #{article_content[i].content[c].data[d].text[t]}
                            - else
                                | #{article_content[i].content[c].data[d].text[t]}
                    - if (article_content[i].content[c].data[d].hyper != undefined)
                        - for (var h = 0; h < article_content[i].content[c].data[d].hyper.length; ++h)
                            a(href=article_content[i].content[c].data[d].hyper[h].link) #{article_content[i].content[c].data[d].hyper[h].text}
        - if (article_content[i].content[c].type == "image")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var image-obj = {
                    data: article_content[i].content[c].data[d].url,
                    attr: {
                        floated: "right",
                        rounded: true,
                        size: "small"
                    }, 
                    content: undefined
                }
                +image(image-obj)
        - if (article_content[i].content[c].type == "code")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                pre
                    code(class=article_content[i].content[c].data[d].lang) #{article_content[i].content[c].data[d].raw}
        - if (article_content[i].content[c].type == "formula")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)                                            
                - var formula-obj = {
                    data: article_content[i].content[c].data[d],
                    attr: undefined,
                    content: undefined
                }
                +section(section-obj)
        - if (article_content[i].content[c].type == "list")
            - var list-obj = {
                data: article_content[i].content[c].data,
                attr: {
                    bulleted: true,
                    selectable: true
                },
                content: undefined
            }
            +list(list-obj)
        - if (article_content[i].content[c].type == "table")
            - var table-obj = {
                data: article_content[i].content[c].data,
                attr: {
                    monotonic: true,
                    selectable: true
                },
                content: undefined
            }
            +table(table-obj)
        - if (article_content[i].content[c].type == "section")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var section-obj = {
                    data: article_content[i].content[c].data,
                    attr: undefined,
                    content: undefined
                }
                +section(section-obj)
        - if (article_content[i].content[c].type == "statistic")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var statistic-obj = {
                    data: article_content[i].content[c].data,
                    attr: undefined,
                    content: undefined
                }
                +statistic(statistic-obj)
        - if (article_content[i].content[c].type == "timeline")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var timeline-obj = {
                    data: article_content[i].content[c].data,
                    attr: {
                        color: "navy"
                    },
                    content: undefined
                }
                +timeline(timeline-obj)
        - if (article_content[i].content[c].type == "alert")
            - for (var d = 0; d < article_content[i].content[c].data.length; ++d)
                - var alert-obj = {
                    data: article_content[i].content[c].data,
                    attr: {
                        status: "info"
                    },
                    content: undefined
                }
                +alert(alert-obj)