// papogen.css - Elements/Header

include icon.pug

mixin header-mixin(data, attr, content)
    - if (attr.icon && !attr.img)
        - if (content.icon != undefined)
            - var icon-obj = { data: content.icon, attr: undefined, content: undefined }
            +icon(icon-obj)
        - if (content.data != undefined)
            div(class="hdr-content") #{data}
            - if (content.sub != undefined)
                div(class="hdr hdr-sub") #{content.sub}
    - if (!attr.icon && attr.img)
        - if (content.img != undefined)
            img(src=content.img)
        - if (content.data != undefined)
            div(class="hdr-content") #{data}
            - if (content.sub != undefined)
                div(class="hdr hdr-sub") #{content.sub}
    - if (attr.icon == undefined)
        - if (content.data != undefined)
            div(class="hdr-content") #{data}
            - if (content.sub != undefined)
                div(class="hdr hdr-sub") #{content.sub}

mixin header(obj)
    - var className = "hdr"
    - if (obj.data.toString().match(/[\u3400-\u9FBF]/))
        - className += " cn"
    - if (obj.attr.color != undefined)
        - if (obj.attr.color == "red" || obj.attr.color == "orange" || obj.attr.color == "yellow" || obj.attr.color == "green" || obj.attr.color == "blue" || obj.attr.color == "navy" || obj.attr.color == "purple" || obj.attr.color == "pink" || obj.attr.color == "brown" || obj.attr.color == "grey")
            - className = className + " hdr-" + obj.attr.color
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " hdr-inverted"
    - if (obj.attr.aligned != undefined)
        - if (obj.attr.aligned == "right" || obj.attr.aligned == "left" || obj.attr.aligned == "center" || obj.attr.aligned == "justified")
            - className = className + " hdr-" + obj.attr.aligned
    - if (obj.attr.floated != undefined)
        - if (obj.attr.floated == "right" || obj.attr.floated == "left")
            - className = className + " hdr-" + obj.attr.floated
    - if (obj.attr.block != undefined)
        - if (obj.attr.block)
            - className += " hdr-block"
    - if (obj.attr.divided != undefined)
        - if (obj.attr.divided)
            - className += " hdr-divided"
    - if (obj.attr.icon != undefined)
        - if (obj.attr.icon)
            - className += " hdr-icon"
    - if (obj.attr.size != undefined)
        case obj.attr.size
            when "h1"
                h1(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)
            when "h2"
                h2(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)
            when "h3"
                h3(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)
            when "h4"
                h4(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)
            when "h5"
                h5(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)
            when "h6"
                h6(class=className)
                    +header-mixin(obj.data, obj.attr, obj.content)