// papogen.css - Displays/Table

mixin table-mixin(data, attr, content)
    - for (var item = 0; item < data[0].items.length + 1; ++item)
        - if (item == 0)
        thead 
            tr
            - for (var d = 0; d < data.length; ++d)
                - if (data[d].name.toString().match(/[\u3400-\u9FBF]/))
                th(class="cn") #{namelist[index-1].article_content[i].content[c].data[d].name}
                - else 
                th #{namelist[index-1].article_content[i].content[c].data[d].name}
        - else 
        tbody 
            tr
            - for (var d = 0; d < data.length; ++d)
                - if (data[d].items[item - 1].toString().match(/[\u3400-\u9FBF]/))
                td(class="cn") #{data[d].items[item - 1]}
                - else 
                td #{data[d].items[item - 1]}

mixin table(obj)
    - var className = "table"
    - if (obj.attr.compact != undefined)
        - if (obj.attr.compact)
            - className += " table-compact"
    - if (obj.attr.padded != undefined)
        - if (obj.attr.padded)
            - className += " table-padded"
    - if (obj.attr.inverted != undefined)
        - if (obj.attr.inverted)
            - className += " table-inverted"
    - if (obj.attr.collapsed != undefined)
        - if (obj.attr.collapsed)
            - className += " table-collapsed"
    - if (obj.attr.simple != undefined)
        - if (obj.attr.simple)
            - className += " table-simple"
    - if (obj.attr.striped != undefined)
        - if (obj.attr.striped)
            - className += " table-striped"
    - if (obj.attr.celled != undefined)
        - if (obj.attr.celled)
            - className += " table-celled"
    - if (obj.attr.selectable != undefined)
        - if (obj.attr.selectable)
            - className += " table-selectable"
    - if (obj.attr.stackable != undefined)
        - if (obj.attr.stackable)
            - className += " table-stackable"
    - if (obj.attr.fixed != undefined)
        - if (obj.attr.fixed)
            - className += " table-fixed"
    - if (obj.attr.monotonic != undefined)
        - if (obj.attr.monotonic)
            - className += " table-monotonic"
   
    div(class=className)
        +table-mixin(obj.data, obj.attr, obj.content)